.heart-beat {
  animation: heartBeat calc(1s * 1.2) ease-in-out infinite;
}

@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.flush {
  animation: flush 1s infinite;
}

@keyframes flush {
  0% {
    opacity: 0.4
  }

  50% {
    opacity: 0.6
  }

  100% {
    opacity: 0.4
  }
}

.rotate {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.glow {
  animation: glow 1s alternate ease-in-out infinite;
}

@keyframes glow {
  0% {
    -webkit-box-shadow: 0 0 8px rgba(0, 222, 0, 0.3);
    border-color: rgba(0, 222, 0, 0.3);
  }

  100% {
    -webkit-box-shadow: 0 0 8px rgba(0, 222, 0, 0.7), 0 0 12px rgba(0, 222, 0, 0.5);
    border-color: rgba(0, 222, 0, 0.7);
  }
}

.shake-opacity:hover {
  animation: shake-opacity 0.5s ease-in-out infinite;
}

@keyframes shake-opacity {
  10% {
    opacity: .32
  }

  20% {
    opacity: .85
  }

  30% {
    opacity: .83
  }

  40% {
    opacity: .97
  }

  50% {
    opacity: .18
  }

  60% {
    opacity: .82
  }

  70% {
    opacity: .09
  }

  80% {
    opacity: .6
  }

  90% {
    opacity: .41
  }

  0%,
  100% {
    transform: translate(0, 0) rotate(0)
  }
}