@font-face {
  font-family: "PressStart2P";
  src: url("@/assets/fonts/PressStart2P.ttf");
}

@font-face {
  font-family: "Ranyeski";
  src: url("@/assets/fonts/Ranyeski.otf");
}

@font-face {
  font-family: "gerbil";
  src: url("@/assets/fonts/gerbil.otf");
}

@font-face {
  font-family: "GenWanMinJP";
  src: url("@/assets/fonts/GenWanMinJPSB.ttc");
}

@font-face {
  font-family: "dougenzaka";
  src: url("@/assets/fonts/KH-Dot-Dougenzaka-16.ttf");
}


.pressStart2P {
  font-family: "PressStart2P";
}

.ranyeski {
  font-family: "Ranyeski";
}

.gerbil {
  font-family: "gerbil";
  line-height: 1.2;
}

.genWanMinJP {
  font-family: "GenWanMinJP";
  line-height: 1.4;
}

.dougenzaka {
  font-family: "dougenzaka";
}