@import 'swiper';
@import 'animate';

body,
html {
  color: #4d4d4d;
  background: #000;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-custom-arrow {
  cursor: url("@/assets/file/arrow.png"), default;
}

.cursor-custom-finger {
  cursor: url("@/assets/file/finger.png"), pointer;
}

.flex-start {
  align-items: flex-start;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.img-fill {
  width: 100%;
}

.white {
  color: #fff;
}

.red {
  color: #eb5911;
}

.green {
  color: #00ff00;
}

.blue {
  color: #0000ff;
}

.light-blue {
  color: #105bfb;
}

.pink {
  color: #ff00ff;
}

.yellow {
  color: #ffff00;
}

.wathet {
  color: #00ffff;
}

.blush {
  color: #e55a24
}


.bg {
  &-green {
    background: #00ff00;
  }

  &-blue {
    background: #0000ff;
  }
}

.v-font {
  &-12 {
    font-size: 12px;
  }

  &-13 {
    font-size: 13px;
  }

  &-14 {
    font-size: 14px;
  }

  &-15 {
    font-size: 15px;
  }

  &-16 {
    font-size: 16px;
  }

  &-17 {
    font-size: 17px;
  }

  &-19 {
    font-size: 19px;
  }

  &-20 {
    font-size: 20px;
  }
}