@import 'swiper';
@import 'animate';
// @import 'fonts';

body,
html {
  color: #4d4d4d;
  background: #000;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-custom-arrow {
  cursor: url("@/assets/file/arrow.png"), default;
}

.cursor-custom-finger {
  cursor: url("@/assets/file/finger.png"), pointer;
}

.flex-start {
  align-items: flex-start;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.page {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  height: calc(100vh);
}

.container {
  position: relative;
  width: 900px;
  margin: 0 auto;
}

.container1 {
  width: 1200px;
  margin: 0 auto;
}

.img-fill {
  width: 100%;
}

.white {
  color: #fff;
}

.red {
  color: #eb5911;
}

.green {
  color: #00ff00;
}

.blue {
  color: #0000ff;
}

.pink {
  color: #ff00ff;
}

.yellow {
  color: #ffff00;
}

.bg {
  &-green {
    background: #00ff00;
  }

  &-blue {
    background: #0000ff;
  }
}