.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.nested-swiper {
  width: 100%;

  .swiper-button-prev {
    left: 11%;

    &:after {
      transform: scale(0.7);
    }
  }

  .swiper-button-next {
    right: 11%;

    &:after {
      transform: scale(0.7);
    }
  }

  .swiper-slide-prev,
  .swiper-slide-next {
    img {
      transform: translate3d(0, 20%, 0);
    }
  }

  &.poster-swiper {
    perspective: 1200px;

    .swiper-wrapper {
      transform-style: preserve-3d;
    }

    .swiper-slide {
      width: 66%;

      img.poster {
        width: 100%;
      }

      &.swiper-slide-prev,
      &.swiper-slide-next {
        opacity: 0.5;
        transform-style: preserve-3d;
        transform: translate3d(0px, 30px, -60px) rotateX(0deg) rotateY(0deg) scale(0.6)
      }
    }

    .swiper-button-prev:after {
      content: url(@/assets/arrow1_left.png);
    }

    .swiper-button-next:after {
      content: url(@/assets/arrow1_right.png);
    }

    &.swiper-3d {

      .swiper-slide-shadow-left,
      .swiper-slide-shadow-right {
        top: 15%;
      }
    }
  }

  &.album-swiper {
    height: auto;

    .swiper-slide {
      height: 490px;
    }

    .swiper-button-prev {
      left: 18%;
      top: 57%;
    }

    .swiper-button-next {
      right: 18%;
      top: 57%;
    }

    .swiper-button-prev:after {
      content: url(@/assets/arrow2_left.png);
    }

    .swiper-button-next:after {
      content: url(@/assets/arrow2_right.png);
    }

  }
}


.mobile-poster-swiper {

  .swiper-wrapper {
    transform-style: preserve-3d;

    .swiper-slide {
      width: 78%;
      align-items: start;

      &.swiper-slide-prev,
      &.swiper-slide-next {
        opacity: 0.5;
        transform-style: preserve-3d;
        z-index: -1;
      }

      &.swiper-slide-next {
        transform: translate3d(-36%, 6%, 0) rotateX(0deg) rotateY(0deg) scale(0.82)
      }

      &.swiper-slide-prev {
        transform: translate3d(36%, 6%, 0) rotateX(0deg) rotateY(0deg) scale(0.82)
      }
    }
  }

  .swiper-button-prev {
    top: 92%;
    left: 30px;

    &:after {
      transform: rotate(180deg) scale(0.5);
      content: url(@/assets/h5/arrow.png);
    }
  }

  .swiper-button-next {
    top: 92%;
    right: 30px;

    &:after {
      transform: scale(0.5);
      content: url(@/assets/h5/arrow.png);
    }
  }
}